#hero-container{
    background-image: url('media/armenia_aragats_hayk-wallpaper-3840x2400-1024x640.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}


#hero-mainrow{
    max-height: 90%;
    margin-top: 5%;
    margin-bottom: auto;
}

#hero-nav-row{
    max-height: 10%;
}

#hero-img {
    max-height: 50%;
    margin-top: auto;
    margin-bottom: auto;
   
}

#hero-img img{
    max-width: 50%;
    margin-left: 25%;
    margin-right: auto;
   
}

#hero-text-area{
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}

#hero-text-name h1{
    overflow: hidden;
    border-right: .05em solid orange;
    margin: 0 auto;
    white-space: nowrap;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

}

#hero-text-job h1{
    overflow: hidden;
    border-right: .05em solid orange;
    margin: 0 auto;
    white-space: nowrap;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

#hero-text-location h1{
    overflow: hidden;
    border-right: .05em solid orange;
    margin: 0 auto;
    white-space: nowrap;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

#main-menu {
    position:fixed;
    left:0;
    top:0;
    
}

#main-menu ul{
    
}