#hero-container{
    background-image: url('media/orange-grey-abstract.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.open-side{
    font-size: 20px;
    cursor: pointer;
}

.close-side{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#hero-section-col{
    transition: margin-left .5s;
    padding: 16px;
}

#hero-mainrow{
    max-height: 90%;
    margin-top: 5%;
    margin-bottom: auto;
}

#hero-nav-row{
    max-height: 10%;
}

#hero-img {
    max-height: 50%;
    margin-top: auto;
    margin-bottom: auto;
   
}

#hero-img img{
    max-width: 50%;
    margin-left: 25%;
    margin-right: auto;
   
}

#hero-text-area{
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}

#hero-text-name h1{
    font-family: 'Staatliches', cursive;
    overflow: hidden;
    border-right: .05em solid orange;
    margin: 0 auto;
    white-space: nowrap;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

}

#hero-text-job h1{
    font-family: 'Staatliches', cursive;
    overflow: hidden;
    border-right: .05em solid orange;
    margin: 0 auto;
    white-space: nowrap;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

#hero-text-location h1{
    font-family: 'Staatliches', cursive;
    overflow: hidden;
    border-right: .05em solid orange;
    margin: 0 auto;
    white-space: nowrap;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.about-section{
    border: 2px solid #a7a6a6;
    border-radius: 2%;
    background: rgb(237, 237, 237);
    margin-top: 50px;
    margin-bottom: 50px;
}

#about-me-heading{
    color: #E06900;
    font-size: 600%;
    font-weight: bolder;
    font-family: 'Aleo', serif;
}

.about-me-text{
    color: #515050;
    font-size: 300%;
    font-weight: bold;
}

#skills-heading{
    color: #E06900;
    font-size: 600%;
    font-weight: bolder;
    font-family: 'Aleo', serif;
}

#tech-skills{
    display: none;
}

.skill-1{
    font-size: 700%;
    font-weight: bolder;
}

.skill-2{
    font-size: 500%;
}

.skill-3{
    font-size: 300%;
}

#education-heading{
    color: #E06900;
    font-size: 600%;
    font-weight: bolder;
    font-family: 'Aleo', serif;
}